azure-identity
quart
quart-cors
openai[datalib]
tiktoken
azure-search-documents==11.4.0b6
azure-storage-blob
uvicorn
aiohttp
azure-monitor-opentelemetry
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-aiohttp-client
msal
msal-extensions
--extra-index-url https://pypi.internal.2021.services/simple
pgrace==0.10.3
